/.phpunit.cache
/node_modules
# /public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
app/Traits/Translatable.php
app/Traits/ConvertsExceptionToAPIResponse.php
app/Traits/RendersAPIResponse.php
app/Http/Response
config/api_response.php